@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Coffee World!</h1>
    <p>Grand Opening in 2023</p>
    <br />
    <h4>New User Registration: <a asp-controller="Registration" asp-action="Index">Please Click Here</a></h4>
</div>
