@model Lab10CoffeeShopRegistrationMVC.Models.RegistrationViewModel

@{
    ViewData["Title"] = "Summary";
}

<h1>Welcome!</h1>

<div>
    <h4>We're so excited to have you!</h4>
    <hr />
    <p>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName), thank you for registering! As a valued member of Coffee world, you will receive exlusive perks and sneak peeks to upcoming products!</p>
    <p>Remember to keep an eye on your email!</p>
</div>
